
.icons {padding: 8px;
    font-size: 30px;
     width: 45px;
     text-align: center;
     text-decoration: none;
     }

.icons:hover {
  transform: scale(1.3);
  text-decoration: none;
}

h2 {
  display: block;
  font-weight: normal;
  text-align: center;
  color: grey;
  padding-top: 100px}

h3 {
  display: block;
  font-weight: normal;
  text-align: center;
  padding-top: 100px;
  border-bottom: 1px solid;
  margin: 30px 260px;
  min-width: auto;
}

p.indent-quote{
  text-align: center
}

p.intro {
  display:block;
  margin: 0px 300px 50px 300px ;
  text-align: justify;
}

@media screen and (max-width: 1000px) {
  p.intro, h2, h3 {
    margin: 0px 15px 50px 15px;
  }
}

#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.75)), url("../imgs/pic2.png");
  background-repeat: no-repeat;
  background-position: center;  
  background-size: cover;
  height: 100vh; /* Adjust this value as needed */  
}
#about {
  height: 100vh; /* Adjust this value as needed */  
}
.title {
  color: #333;
  font-size: 66px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}
.content {
  background-color: pink; /* Adjust color to match the image */
}
#research {
  height: 100vh; /* Adjust this value as needed */  
}
.content2 {
  background-color: #b39eb5; /* Adjust color to match the image */
}
