
html {
    scroll-behavior: smooth;
  }
  
  a {
    color: pink;
    text-decoration: none
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  body, html {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffefc;
    height: 100%
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: gray;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav a:hover {
    background-color: #333333;
    color: white;
  }
    
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
  }
  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
    }
  }
  
  #to-top {
    background: transparent;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 32px;
    text-decoration: none;
    opacity: 1;
    pointer-events: auto;
    transition: all .4s;
  }
  
  #to-top:hover {
    color: black;
  }
  
  footer {text-align: center;
          padding: 10px;
          color: white;
          font-size: 13px;
          background-color: #333333;}
        